<div id="cart" class="fs-grid">
  <div class="">
    <div class="fs-row cart-row">
      <div class="fs-cell fs-all-full text-center">
        <h1 class="cart-title">Your Cart</h1>
      </div>
    </div>

    <hr class="invisible" />

    <div class="fs-row cart-header">
      <div class="fs-cell fs-lg-10 fs-md-6 fs-sm-3 fs-centered">
        <div class="fs-row">
          <div class="cart-item__desc fs-cell fs-lg-10 fs-lg-push-2 fs-md-4 fs-md-push-2 fs-sm-half">
            <div class="fs-cell fs-lg-7 fs-md-3 fs-sm-half">&nbsp;</div>
            <div class="fs-cell fs-lg-2 fs-md-2 fs-sm-1"><small>QUANTITY</small></div>
            <div class="fs-cell fs-lg-3 fs-md-2 fs-sm-1"><div class="text-right"><small>TOTAL</small></div></div>
          </div>
        </div>
        <hr class="divider compact" />
      </div>
    </div>

    {% if cart.item_count > 0 %}
    <form action="/cart" method="post" class="cart-form fs-row">
      <div class="fs-cell fs-lg-10 fs-md-6 fs-sm-3 fs-centered">
        {% for item in cart.items %}
        <div class="cart-item fs-row cart-row relative">
          <div class="cart-item__thumb fs-cell fs-lg-2 fs-md-2 fs-sm-half">
            <img class="img-responsive" src="{{ item | img_url: 'large' }}"  alt="{{ item.title | escape }}" />
          </div>
          <div class="centered">
            <div class="cart-item__desc fs-cell fs-lg-10 fs-lg-push-2 fs-md-4 fs-md-push-2 fs-sm-half">
              <div class="fs-row">
                <div class="fs-cell fs-lg-7 fs-md-3 fs-sm-half"><span class="cart-item__title">
                  <div class="cart-item__title">{{ item.title }}</div>
                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="btn btn--link"><small>Remove</small></a>
                </span></div>
                <div class="fs-cell fs-lg-2 fs-md-2 fs-sm-1"><span class="cart-item__qty">
                  <input type="number" min="0" size="3" maxlength="3" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" />
                </span></div>
                <div class="fs-cell fs-lg-3 fs-md-2 fs-sm-1"><div class="text-right"><span class="cart-item__price">{{ item.price | money }}</span></div></div>
              </div>
            </div>
          </div>
        </div>
        <hr class="invisible compact">
        {% endfor %}

        <div class="">
          <div class="fs-row cart-row">
            <hr class="divider compact fs-cell fs-all-full bg--gray">
            <div class="fs-cell fs-all-full">
              <h3 class="gamma color--white">Subtotal {{ cart.total_price | money }}</h3>
              <div class="fs-row">
                <div class="fs-cell fs-all-half"><input class="btn btn--full" type="submit" name="update" value="Update cart" /></div>
                <div class="fs-cell fs-all-half"><input class="btn btn--full" type="submit" name="checkout" value="Check out" /></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    {% else %}
    <div class="header--lg">
      <div class="fs-row cart-row">
        <div class="fs-cell fs-all-full">
          <div class="color--white">It appears that your cart is currently empty.</div>
          <div class="color--white">You can continue browsing <a href="/collections/all">here</a>.</div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>