<div class="product-item relative">
  <div class="relative">
    <a class="product-item__link covered" href="{{ product.url | within: collection }}"></a>
    <div class="product-item__thumb">
      <img class="product-item__image product-item__image--first img-responsive" src="{{ product.featured_image.src | img_url: '2048x2048' }}" alt="{{ product.featured_image.alt | escape }}">
    </div>
  </div>
  <header class="text-center product-item__header">
    <h2 class="product-item__title">{{ product.title }}</h2>
    <div class="product-item__price">{{ product.price | money }}</div>
    {% comment %}<small class="product-item__sku">SKU: {{ product.variants.first.sku }}</small>{% endcomment %}
  </header>
</div>
<hr class="invisible compact fs-lg-hide fs-md-hide">
