<form action="/cart/add" method="post" enctype="multipart/form-data">
  <div class="product-info">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
    <meta itemprop="image" content="{{ product | img_url: 'grande' }}" />

    {% unless collection.title == '' %}<h4 class="product-collection"><a href="{{ collection.url }}">{{ collection.title }}</a></h4>{% endunless %}
    <h1 class="product-title" itemprop="name">{{ product.title }}</h1>

    <div class="product-price" id="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="delta">
      <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
      {% if product.available %}
      <link itemprop="availability" href="http://schema.org/InStock" />
      {% else %}
      <link itemprop="availability" href="http://schema.org/OutOfStock" />
      {% endif %}
      <span class="color--black">
        {% assign variant = product.selected_or_first_available_variant %}
        {% if product.compare_at_price > product.price %}
        <span class="product-price on-sale" itemprop="price">{{ variant.price | money }}</span>
        <s class="product-compare-price">{{ variant.compare_at_price | money }}</s>
        {% else %}
        <span class="product-price" itemprop="price">{{ variant.price | money }}</span>
        {% endif %}
      </span>
    </div>

    <div class="fs-row">
      <div class="fs-cell fs-lg-11 fs-md-6 fs-sm-3">
        <div class="fs-row">
          <div class="fs-cell fs-all-full">
            {% if product.available and product.variants.size > 1 %}
            {% include 'swatch' with 'Size' %}
            {% endif %}
          </div>
          <hr class="invisible">
          <div id="product-variants" class="product-variant {% if hide_default_title %} hidden{% endif %} fs-cell fs-lg-half fs-md-half fs-sm-3">
            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
            <select name="id" id="productSelect" class="product-single__variants">
            {% for variant in product.variants %}
              {% if variant.available %}

                {% comment %}
                  Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                {% endcomment %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
          </div> 
          <hr class="invisible compact fs-cell fs-lg-hide fs-md-hide fs-sm-3">
          <div class="product-add fs-cell fs-lg-half fs-md-half fs-sm-3" id="product-add">
            <input type="submit" name="add" id="add" class="product-add__btn primary btn btn--full btn--outlined ss-gizmo ss-right right" value="{{ add_to_cart | escape }}">
          </div>
          {% if collection.handle == 'skinnies' %}
          <div class="fs-cell fs-all-full">
            <hr class="invisible compact">
            <a id="product-sample-btn" href="#product-samples" class="lightbox">Order a sample of {{ product.title }}</a>
          </div>
          {% endif %}
        </div>
      </div> 
    </div>

    <hr class="invisible compact">
    <div class="product-desc">{{ product.description }}</div>
    <hr class="invisible compact">


  </div>
</form>

<div id="product-samples" style="display:none;">
  <div id="product-samples-wrapper">
    {% include 'related-products' %}
  </div>
</div>

{{ 'option_selection.js' | shopify_asset_url | script_tag }}

<script>
  var selectCallback = function(variant, selector) {
    if (variant) {
      var form = jQuery('#' + selector.domIdPrefix).closest('form');
      for (var i=0,length=variant.options.length; i<length; i++) {
        var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
        if (radioButton.size()) {
          radioButton.get(0).checked = true;
        }
      }
    }
  };

  jQuery(function($) {

    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>
