<form action="/cart/add" method="post" enctype="multipart/form-data">
  <div class="product-info">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
    <meta itemprop="image" content="{{ product | img_url: 'grande' }}" />

    {% unless collection.title == '' %}<h4 class="product-collection"><a href="{{ collection.url }}">{{ collection.title }}</a></h4>{% endunless %}
    <h1 class="product-title" itemprop="name">{{ product.title }}</h1>

    <div class="product-price" id="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="delta">
      <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
      {% if product.available %}
      <link itemprop="availability" href="http://schema.org/InStock" />
      {% else %}
      <link itemprop="availability" href="http://schema.org/OutOfStock" />
      {% endif %}
      <span class="color--black">
        {% assign variant = product.selected_or_first_available_variant %}
        {% if product.compare_at_price > product.price %}
        <span class="product-price on-sale" itemprop="price">{{ variant.price | money }}</span>
        <s class="product-compare-price">{{ variant.compare_at_price | money }}</s>
        {% else %}
        <span class="product-price" itemprop="price">{{ variant.price | money }}</span>
        {% endif %}
      </span>
    </div>

    <hr class="invisible compact">
    <div class="product-desc">{{ product.description }}</div>
    <hr class="invisible compact">

    <div class="fs-row">
      <div class="fs-cell fs-lg-11 fs-md-6 fs-sm-3">
        <div class="fs-row">
          <div id="product-variants" class="product-variant {% if hide_default_title %} hidden{% endif %} fs-cell fs-lg-half fs-md-half fs-sm-3">
            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
            {% comment %}<label for="Quantity" class="quantity-selector">Square Feet</label>{% endcomment %}
            {% comment %}
            <select id="quantity" name="quantity" class="btn--full">
              <option selected disabled>Select Quantity</option>
              {% for i in (1..10) %}
              <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
            </select>
            {% endcomment %}
            <select id="product-select" name="id" class="hidden">
            {% for variant in product.variants %}
              <option{% if variant == product.selected_or_first_available_variant %} selected{% endif %} value="{{ variant.id }}" class="fs-cell fs-all-half">
              {{ variant.title }} - {{ variant.price | money }}
              </option>
            {% endfor %}
            </select>
          </div> 
          <hr class="invisible compact fs-cell fs-lg-hide fs-md-hide fs-sm-3">
          <div class="product-add fs-cell fs-lg-half fs-md-half fs-sm-3" id="product-add">
            <input type="submit" name="add" id="add" class="product-add__btn primary btn btn--full btn--outlined ss-gizmo ss-right right" value="{{ add_to_cart | escape }}">
          </div>
          <div class="fs-cell fs-all-full">
            <hr class="invisible compact">
            <a href="#product-samples" class="lightbox">Order Samples</a>
          </div>
        </div>
      </div> 
    </div>
  </div>
</form>

<div id="product-samples" style="display:none;">
  <div id="product-samples-wrapper">
    {% include 'related-products' %}
  </div>
</div>