<div class="page-header">
  <h2 class="title title--md text-center capped spaced nomargin color--black">Your Cart</h2>
</div>

<div id="page" class="site-pad"> 

{% if cart.item_count > 0 %}

<form action="/cart" method="post" id="cart" class="cart site-pad">

  <div class="fs-row full">
    <div class="fs-cell fs-lg-10 fs-lg-push-1 fs-md-6 fs-sm-3 fs-contained">

      <div class="fs-row full cart-header">
        <div class="cart-header__item fs-cell fs-lg-6 fs-md-fifth fs-sm-hide fs-md-hide fs-contained desc">Item</div>
        <div class="cart-header__item fs-cell fs-lg-2 fs-md-fifth fs-sm-hide fs-md-hide fs-contained price">Price</div>
        <div class="cart-header__item fs-cell fs-lg-1 fs-md-fifth fs-sm-hide fs-md-hide fs-contained qty text-center">Quantity</div>
        <div class="cart-header__item fs-cell fs-lg-2 fs-md-fifth fs-sm-hide fs-md-hide fs-contained remove text-center">Subtotal</div>
        <div class="cart-header__item fs-cell fs-lg-1 fs-md-fifth fs-sm-hide fs-md-hide fs-contained total">&nbsp;</div>
      </div>

      <div class="cart-item-wrapper">
        {% for item in cart.items %}
        <div id="cart-item-{{item.variant.id}}" class="cart-item fs-row full">
          <hr class="divider fs-cell fs-all-full fs-contained">
          <div class="fs-cell fs-lg-1 fs-md-2 fs-sm-half fs-contained cart-item__cell image"><img src="{{ item | img_url: 'grande' }}" alt="{{ item.title | escape }}"></div>
          <div class="fs-cell fs-lg-5 fs-md-4 fs-sm-half fs-contained cart-item__cell title">
            {% assign title = item.title | split: ' - ' %}
            <div>
              <h2><a href="{{ item.product.url }}">{{ title[0] }}</a></h2>
              <small class="color--gray">{{ title[1] }}</small>
            </div>
          </div>
          <div class="fs-cell fs-lg-2 fs-md-4 fs-sm-half fs-contained cart-item__cell price">{{ item.price | money }}</div>
          <div class="fs-cell fs-lg-1 fs-md-4 fs-sm-half fs-contained cart-item__cell qty">
            {% unless item.title contains 'Sample' %}
            <input type="number" size="4" pattern="[0-9]*" name="updates[{{item.variant.id}}]" id="quantity-{{ item.variant.id }}" class="quantity" value="{{ item.quantity }}" min="1" onfocus="this.select();"/>
            {% else %}
            &nbsp;
            {% endunless %}
          </div>
          <div class="fs-cell fs-lg-2 fs-md-4 fs-sm-half fs-contained cart-item__cell price"><div class="text-center">{{ item.line_price | money }}</div></div>
          <div class="fs-cell fs-lg-1 fs-md-4 fs-sm-half fs-contained cart-item__cell remove"><div class="text-right"><a href="/cart/change/{{item.variant.id}}?quantity=0"><img src="{{ 'x.svg'  | asset_url }}" alt="delete" /></a></div></div>
        </div>
        {% endfor %}
      </div>

      <div class="subtotal fs-row full">
        <hr class="divider fs-cell fs-all-full fs-contained">
        <div class="fs-cell fs-all-full text-right  fs-contained"> 
          Total: <strong>{{ cart.total_price | money }}</strong>
        </div>
      </div>

      <div class="subtotal wrapper--nosides fs-row full">
        <hr class="invisible compact">
        <div class="fs-cell fs-lg-fifth fs-md-fourth fs-sm-3 fs-right fs-contained"><input class="button btn--secondary btn--full" type="submit" name="checkout" value="Checkout" /></div>
        <div class="fs-cell fs-lg-fifth fs-md-fourth fs-sm-3 fs-right fs-contained"><input class="button btn--full" type="submit" id="update-cart" name="update" value="Update"  /></div>
      </div>

    </div>
  </div>
</form>

{% else %}

<div class="hero relative">
  <div class="centered centered--full text-center">
    <h2>Oh no, your cart is empty 😭</h2>
  </div>
</div>

{% endif %}