<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
{% if page_description %}
<meta name="description" content="{{ page_description | escape }}" />
{% endif %}
<link rel="shortcut icon" href="favicon.ico">
<link rel="canonical" href="{{ canonical_url }}" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

{{ content_for_header }}

{{ 'timeline.css' | asset_url | stylesheet_tag }}
<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js?ver=1.11.1'></script>

<!--[if lt IE 9]>
{{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
{{ 'app.ie.min.js' | asset_url | script_tag }}
<![endif]-->

{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
{{ 'shopify_common.js'  | asset_url | script_tag }}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
<script>jQuery('html').removeClass('no-js').addClass('js');</script>
<link href='https://fonts.googleapis.com/css?family=PT+Serif|Karla:400,700' rel='stylesheet' type='text/css'>

</head>

<body id="{{ page_title | handle }}" class="fs-grid {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
<div id="wrapper">
{% include 'header' %}
<div id="content-wrapper" class='fs-grid'>
{% include 'nav_band' %}

{% unless template == 'collection' %}
<hr class="invisible">
{% endunless %}

{{ content_for_layout }}
</div>
<hr class="invisible">
{% include 'footer' %}
</div>

{% include 'ajaxify-cart' %}
{{ 'timeline.js'  | asset_url | script_tag }}
</body>
</html>