<header id="header" class="header header--md relative mobile-menu shopify">
  <div class="fs-row">
    <menu id="header-mobile" class="fs-cell fs-lg-third fs-md-2 fs-sm-fourth">
      <a data-swap-target=".mobile-menu" class="mobile-toggle btn--hamburg btn--nav btn_first btn_last"><span class="fs-sm-hide">Menu</a>
    </menu>
    <menu id="header-main" class="fs-cell fs-lg-third fs-md-2 fs-sm-half text-center">
      <a href="http://timeline.com.s147445.gridserver.com" id="header--logo" class="shopify btn btn--nav btn--logo btn_first">Timeline Wood</a>
    </menu>
    <menu id="header-search" class="fs-cell fs-lg-third fs-md-2 fs-sm-fourth text-right">
      <a href="#search-modal" id="header--logo" class="open--modal btn btn--nav btn_first ss-gizmo ss-search right"><span class="fs-sm-hide">Search</span></a>
    </menu>
    <menu id="header-navigation" class="fs-cell fs-lg-hide fs-md-hide fs-sm-hide text-right">
      <a class="btn btn--nav shopify"href="http://timeline-wood.myshopify.com/collections/">Products</a>
      <a class="btn btn--nav shopify"href="{{ motherShip }}/where-to-buy/">Where to Buy</a>
      <a class="btn btn--nav shopify"href="{{ motherShip }}/blog/">Blog</a>
      <a class="btn btn--nav shopify"href="{{ motherShip }}/glossary/">FAQ</a>
      <a class="btn btn--nav shopify"href="{{ motherShip }}/commercial-applications/">Commercial</a>
      <a class="btn btn--nav shopify"href="{{ motherShip }}/about/">About Us</a>
      <a class="btn btn--nav shopify"href="{{ motherShip }}/press-room/">Press Room</a>
      <a class="btn btn--nav shopify"href="{{ motherShip }}/contact/">Contact</a>
    </menu>
  </div>
  <div class="pinned pinned__bottom">
    <div id="mobile-menu" class="text-center bg--black header header--md mobile-menu">
      <div id="mobile-menu_container" class="fs-row"></div>
    </div>
  </div>
</header>