{% assign url = 'http://old.timelinewood.com' %}

<header id="header" class="relative mobile-menu pinned pinned--top pinned--fixed relative fs-grid-fluid fs-swap-target fs-swap-enabled">
  <div id="header-main__wrapper">
    <div class="fs-row relative header header--sm">
      <menu id="header-mobile" class="fs-cell fs-lg-hide fs-md-fourth fs-sm-fourth fs-contained">
        <a data-swap-target=".mobile-menu" class="mobile-toggle btn--hamburg btn--nav btn_first btn_last fs-swap-element fs-swap-enabled"><span class="fs-sm-hide">Menu</span></a>
      </menu>
      <menu id="header-navigation" class="fs-cell fs-lg-7 fs-md-half fs-sm-half fs-contained">
        <a href="{{ url }}" id="header--logo" class="btn btn--nav btn--logo shopify">Timeline Wood</a>
        <ul class="fs-md-hide fs-sm-hide">
          <li class="btn btn--nav menu-item menu-item-has-children menu-products"><a href="http://shop.timelinewood.com">Products</a>
<ul class="sub-menu">
  <li class="menu-item menu-skinnies"><a href="#">Skinnies</a></li>
  <li class="menu-item menu-crates"><a href="#">Crates</a></li>
  <li class="menu-item menu-barn-doors"><a href="#">Barn Doors</a></li>
  <li class="menu-item menu-shiplap"><a href="#">Shiplap</a></li>
</ul>
</li>
<li class="btn btn--nav menu-item menu-retailers"><a href="{{ url }}/retailers/">Retailers</a></li>
<li class="btn btn--nav menu-item menu-contact"><a href="{{ url }}/contact/">Contact</a></li>
        </ul>
      </menu>
      <menu class="fs-cell fs-lg-5 fs-md-fourth fs-sm-fourth text-right fs-contained">
        <a id="open_bag" class="btn--nav btn header__icon--bag" href="#">
  <span>Bag</span>&nbsp;
  <img src="{{'bag.svg' | asset_url }}" alt="Search">
</a>
<div id="bag">
  <div class="bag-header header header--sm">
    <div class="fs-row">
      <div class="fs-cell fs-all-full text-right">
        <span class="btn btn--nav bag-close btn--last">
          <a href="#" class="ss-gizmo ss-delete right" id="close_bag">Bag </a>
        </span>
      </div>
    </div>
  </div>
  <hr class="bag-divider divider top">
  <div id="bag--wrapper" class="bag-wrapper text-left">
    <div class="fs-row">
      <div class="fs-cell fs-full-all" id="items"></div>
      <div class="fs-cell fs-full-all" id="bagtotal"><div class="text-center">Your bag is empty!</div></div>
    </div>
  </div>
</div>        <a id="header-commercial" href="/commercial-applications/" class="fs-sm-hide fs-md-hide">Commercial Products <br>for Architects + Designers</a>
      </menu>
    </div>
  </div>
  <div class="pinned pinned__bottom">
    <div id="mobile-menu" class="text-center bg--black header header--md mobile-menu fs-swap-target fs-swap-enabled">
<div id="mobile-menu_container" class="fs-row">
        <a href="{{ url }}" id="header--logo" class="btn btn--nav btn--logo btn-mobile fs-cell fs-lg-fourth fs-md-fourth fs-sm-third fs-xs-half">Timeline Wood</a>
        <ul class="fs-md-hide fs-sm-hide">
          <li class="btn btn--nav menu-item menu-item-has-children menu-products"><a href="http://shop.timelinewood.com" class="btn-mobile fs-cell fs-lg-fourth fs-md-fourth fs-sm-third fs-xs-half">Products</a>
<ul class="sub-menu">
  <li class="menu-item menu-skinnies"><a href="#" class="btn-mobile fs-cell fs-lg-fourth fs-md-fourth fs-sm-third fs-xs-half">Skinnies</a></li>
  <li class="menu-item menu-crates"><a href="#" class="btn-mobile fs-cell fs-lg-fourth fs-md-fourth fs-sm-third fs-xs-half">Crates</a></li>
  <li class="menu-item menu-barn-doors"><a href="#" class="btn-mobile fs-cell fs-lg-fourth fs-md-fourth fs-sm-third fs-xs-half">Barn Doors</a></li>
  <li class="menu-item menu-shiplap"><a href="#" class="btn-mobile fs-cell fs-lg-fourth fs-md-fourth fs-sm-third fs-xs-half">Shiplap</a></li>
</ul>
</li>
<li class="btn btn--nav menu-item menu-retailers"><a href="{{ url }}/retailers/" class="btn-mobile fs-cell fs-lg-fourth fs-md-fourth fs-sm-third fs-xs-half">Retailers</a></li>
<li class="btn btn--nav menu-item menu-contact"><a href="{{ url }}/contact/" class="btn-mobile fs-cell fs-lg-fourth fs-md-fourth fs-sm-third fs-xs-half">Contact</a></li>
        </ul>
      </div>
</div>  </div>
  <div id="header-search" class="header header--sm fs-swap-target fs-swap-enabled">
  <div class="fs-row">
    <div class="fs-cell fs-all-full relative">
      <form method="get" id="searchform" action="{{ url }}/">
        <div>
          <input type="text" size="18" placeholder="Search" "value="" name="s" id="s">
          <input type="submit" id="searchsubmit" value="Search" class="btn">
        </div>
      </form>
      <a href="#" id="header-search__close" data-swap-linked="swap_linked_1" data-swap-target="#header, #header-search" class="btn btn--nav btn--swap btn__last ss-gizmo ss-delete right fs-swap-element fs-swap-enabled"></a>
    </div>
  </div>
</div></header>