<form action="/cart/add" method="post" enctype="multipart/form-data">

  <div class="product-info">

    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
    <meta itemprop="image" content="{{ product | img_url: 'grande' }}" />

    {% unless collection.title == '' %}<h4>{{ collection.title }}</h4>{% endunless %}
    <h1 class="product-title" itemprop="name">{{ product.title }}</h1>

    <div class="product-price" id="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="delta">
      <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
      {% if product.available %}
      <link itemprop="availability" href="http://schema.org/InStock" />
      {% else %}
      <link itemprop="availability" href="http://schema.org/OutOfStock" />
      {% endif %}
      <span class="color--black">
        {% assign variant = product.selected_or_first_available_variant %}
        {% if product.compare_at_price > product.price %}
        <span class="product-price on-sale" itemprop="price">{{ variant.price | money }}</span>
        <s class="product-compare-price">{{ variant.compare_at_price | money }}</s>
        {% else %}
        <span class="product-price" itemprop="price">{{ variant.price | money }}</span>
        {% endif %}
      </span>
    </div>

    <hr class="invisible compact">

    <div class="product-desc">{{ product.description }}</div>

    <hr class="invisible compact">

    <div id="product-variants" class="product-variant {% if hide_default_title %} hidden{% endif %}">
      <div class="fs-row">
        <div class='fs-cell fs-all-full'>
          <label for="quantity">Qty: </label>
          <select id="quantity" name="quantity">
            {% for i in (1..10) %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
          <select id="product-select" name="id">
          {% for variant in product.variants %}
            <option{% if variant == product.selected_or_first_available_variant %} selected{% endif %} value="{{ variant.id }}" class="fs-cell fs-all-half">
            {{ variant.title }} - {{ variant.price | money }}
            </option>
          {% endfor %}
          </select>
        </div>
      </div>
    </div> 

    <hr class="invisible compact">

    <div class="product-add" id="product-add">
      <input type="submit" name="add" id="add" class="primary btn btn--full" value="{{ add_to_cart | escape }}">
    </div>

  </div>

</form>